/* -----------------GENERIC------------------- */

#map_container {
  background-color: #464646;
}

#map{
  position: relative;
}

#container {
  width: 60%;
  min-width: 800px;
  height: 100%;
  min-height: 600px;
  margin: auto;
  background-color: #282828;
}

#logo_section {
  background: #101010;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#year_slider {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #1f1f1f;
}

#year_slider_ion_container {
  width: 80%;
  margin: auto;
}


/* -----------------HEADER------------------- */





/* -----------------BODY------------------- */
html, body {
  background-color: #282828;
  margin:0px;
  padding:0px;
  width:100%;
  height: 100%;
}

/* suburb */
.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }



/* -----------------CLEARFIX------------------- */


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

