@import url(http://fonts.googleapis.com/css?family=Lato:100);

.btn {
  padding:20px 30px 20px 30px;
  margin:0 1px 0 0;
  text-decoration:none;
  text-align:center;
  vertical-align: center;
  color:#7f8c8d;
  cursor:pointer;
  background:#131313;
  border-bottom:10px solid #464646;
  transition-property:border-bottom .6s linear 0s;
  -moz-transition:border-bottom .6s linear 0s;
  -webkit-transition:border-bottom .6s linear 0s;
  -o-transition:border-bottom .6s linear 0s;
  font-size:25px;
}
.btn.active {
  border-bottom:10px solid #ff6226;
  color:#ffffff;
}
.button-group-navigation li {
  display:inline-block;
  list-style:none;
  padding:0;
  margin:0;
  zoom:1;
  background:#7f8c8d;
}
.button-group-navigation li .btn {
  float:left;
  margin-left:-4px;
}

.button-group-navigation>.btn:first-child,.button-group-navigation li:first-child .btn {
  margin-left:0;
  -webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}
.button-group-navigation>.btn:last-child,.button-group-navigation li:last-child>.btn {
  margin-right: 0;
  -webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}